
@{
    ViewBag.Title = "Contact";
}

<h3>Contact Us</h3>

<address>
    5233 Zone 5 Zonkizizwe<br />
    Katlehong 1431<br />
    <abbr title="Cell Phone">C:</abbr>
    079 554 5920
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sgegedetours.com">Sgegedetours@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:sgegedetours.com">Sgegedetours@gmail.com</a>
</address>