
@{
    ViewBag.Title = "Gallery";
}




<section id="port-sec">
    <div class="container">
        <div class="text-center g-pad-bottom">
            <div class="col-md-12 col-sm-12 alert-info">
                <h4><i class="fa fa-desktop fa-2x"></i>&nbsp;See Destination Gallery </h4>
                <p>
                    Durban Adventure
                </p>
            </div>
        </div>
    </div>
    <div class="row g-pad-bottom">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
            <ul class="portfolio-items col-3">
                <li class="portfolio-item">
                    <div class="item-main">
                        <div class="portfolio-image">
                            <img src="~/imgs/Durb2.jpg" alt="" />
                            <div class="overlay">
                                <a class="preview btn btn danger" title="Durban" href="~/imgs/Durb2.jpg"><i class=" fa fa-eye"></i></a>
                            </div>
                        </div>
                        <h5> Durban.</h5>
                    </div>
                </li>
                <li class="portfolio-item">
                    <div class="item-main">
                        <div class="portfolio-image">
                            <img src="~/imgs/Durb1.jpg" alt="" />
                            <div class="overlay">
                                <a class="preview btn btn danger" title="Durban" href="~/imgs/Durb1.jpg"><i class=" fa fa-eye"></i></a>
                            </div>
                        </div>
                        <h5> Durban.</h5>
                    </div>
                </li>
                <li class="portfolio-item">
                    <div class="item-main">
                        <div class="portfolio-image">
                            <img src="~/imgs/Durb3.jpg" alt="" />
                            <div class="overlay">
                                <a class="preview btn btn danger" title="Durban" href="~/imgs/Durb3.jpg"><i class=" fa fa-eye"></i></a>
                            </div>
                        </div>
                        <h5> Durban .</h5>
                    </div>
                </li>
                <li class="portfolio-item">
                    <div class="item-main">
                        <div class="portfolio-image">
                            <img src="~/imgs/Hartees5.jpg" alt="" />
                            <div class="overlay">
                                <a class="preview btn btn danger" title="Hartebees" href="~/imgs/Hartees5.jpg"><i class=" fa fa-eye"></i></a>
                            </div>
                        </div>
                        <h5> Hartebees.</h5>
                    </div>
                </li>
                <li class="portfolio-item">
                    <div class="item-main">
                        <div class="portfolio-image">
                            <img src="~/imgs/Hartees8.jpg" alt="" />
                            <div class="overlay">
                                <a class="preview btn btn danger" title="Hartebees" href="~/imgs/Hartees8.jpg"><i class=" fa fa-eye"></i></a>
                            </div>
                        </div>
                        <h5> Hartebees.</h5>
                    </div>
                </li>
                <li class="portfolio-item">
                    <div class="item-main">
                        <div class="portfolio-image">
                            <img src="~/imgs/Hartees2.jpg" alt="" />
                            <div class="overlay">
                                <a class="preview btn btn danger" title="Hartebees" href="~/imgs/Hartees2.jpg"><i class=" fa fa-eye"></i></a>
                            </div>
                        </div>
                        <h5> Hartebees.</h5>
                    </div>
                </li>
                <li class="portfolio-item">
                    <div class="item-main">
                        <div class="portfolio-image">
                            <img src="~/imgs/Mpuma1.jpg" alt="" />
                            <div class="overlay">
                                <a class="preview btn btn danger" title="Mpumalanga" href="~/imgs/Mpuma1.jpg"><i class=" fa fa-eye"></i></a>
                                <a class="preview btn btn danger" title="Mpumalanga" href="~/imgs/Mpuma1.jpg"><i class=" fa fa-eye"></i></a>
                                <a class="preview btn btn danger" title="Mpumalanga" href="~/imgs/Mpuma1.jpg"><i class=" fa fa-eye"></i></a>
                            </div>
                        </div>
                        <h5> Mpumalanga.</h5>
                    </div>
                </li>
                <li class="portfolio-item">
                    <div class="item-main">
                        <div class="portfolio-image">
                            <img src="~/imgs/Mpuma2.jpg" alt="" />
                            <div class="overlay">
                                <a class="preview btn btn danger" title="Mpumalanga" href="~/imgs/Mpuma2.jpg"><i class=" fa fa-eye"></i></a>
                            </div>
                        </div>
                        <h5> Mpumalanga.</h5>
                    </div>
                </li>
                <li class="portfolio-item">
                    <div class="item-main">
                        <div class="portfolio-image">
                            <img src="~/imgs/Mpuma3.jpg" alt="" />
                            <div class="overlay">
                                <a class="preview btn btn danger" title="Mpumalanga" href="~/imgs/Mpuma3.jpg"><i class=" fa fa-eye"></i></a>
                            </div>
                        </div>
                        <h5> Mpumalanga.</h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>
   
</section>

