<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Sgegedetours </title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!--ANIMATED FONTAWESOME STYLE CSS -->
    <link href="~/Content/font-awesome-animation.css" rel="stylesheet" />
    <!--PRETTYPHOTO MAIN STYLE -->
    <link href="~/Content/prettyPhoto.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
        .mySlides {
            display: none;
            background-size: cover;
            width: 100%;
            display: block;
            height: auto;
            padding-top: 70px;
            padding-bottom: 70px;
            padding-inline: 70px;
            min-height: 620px;
            min-width: 850px;
        }
    </style>
</head>
<body>
    
    <!--HOME SECTION-->
    
        <div class="w3-content w3-section" style="max-width:700px">
            <img class="mySlides" src="~/imgs/Cape1.jpg">
            <img class="mySlides" src="~/imgs/moz3.jpg">
            <img class="mySlides" src="~/imgs/Mpumalanga3.jpg">
            <img class="mySlides" src="~/imgs/Cape5.jpg">
            <img class="mySlides" src="~/imgs/hart5.jpg">
            <img class="mySlides" src="~/imgs/Mpumalanga2.jpg">
            <img class="mySlides" src="~/imgs/hart2.jpg">
            <img class="mySlides" src="~/imgs/hart3.jpg">
        </div>

        <script>
            var myIndex = 0;
            carousel();

            function carousel() {
                var i;
                var x = document.getElementsByClassName("mySlides");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                myIndex++;
                if (myIndex > x.length) { myIndex = 1 }
                x[myIndex - 1].style.display = "block";
                setTimeout(carousel, 4000); // Change image every 4 seconds
            }
        </script>



        <!--END HOME SECTION-->
        <!--FOOTER SECTION -->
        @*<div id="footer">
            Sgegedetours | All Right Reserved

        </div>*@
        <!-- END FOOTER SECTION -->
        <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
        <!-- CORE JQUERY  -->
        <script src="~/Content/custom.js"></script>
        <!-- BOOTSTRAP CORE SCRIPT   -->
        <script src="~/plugins/bootstrap.min.js"></script>
        <!-- ISOTOPE SCRIPT   -->
        <script src="~/plugins/jquery.isotope.min.js"></script>
        <!-- PRETTY PHOTO SCRIPT   -->
        <script src="~/plugins/jquery.prettyPhoto.js"></script>
        <!-- CUSTOM SCRIPTS -->


    </body>
</html>
