
@{
    ViewBag.Title = "Package";
}

<h2>Package</h2>
<div class="row go-marg">

    <div class="col-md-4 col-sm-4">
        <div class="panel panel-default">

            <div class="panel-body">
                <h4 class="adjst">Tour Package One #1 </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                </p>


            </div>
        </div>

    </div>
    <div class="col-md-4 col-sm-4">
        <div class="panel panel-default">

            <div class="panel-body">
                <h4 class="adjst">Tour Package Two #2 </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                </p>


            </div>
        </div>

    </div>
    <div class="col-md-4 col-sm-4">
        <div class="panel panel-default">

            <div class="panel-body">
                <h4 class="adjst">Tour Package Three #3 </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                </p>


            </div>
        </div>

    </div>
</div>

        

